.DS_Store


# DEVOPS

# BILLING

# WEIGHT
./Weight/app/bin/*
./Weight/app/include/*
./Weight/app/lib/*
./Weight/app/lib64/*
./Weight/app/pyvenv.cfg
./Weight/db/backup/*
*.pyc
__pycache__/
*.pyo
*.log
.env
