*.DS_Store
*.venv

# DEVOPS
*__pycache__*
*venv*
.env

# BILLING

# WEIGHT
./Weight/app/bin/*
./Weight/app/include/*
./Weight/app/lib/*
./Weight/app/lib64/*
./Weight/app/pyvenv.cfg
./Weight/db/backup/*
*.pyc
__pycache__/
*.pyo
*.log
.env
./Weight/app/apis_test/*

